body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #008000;
}

#snake {
    display: none;
}

#snake.active {
    display: flex;
}

.containerButtons {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerButtons span {
    font-size: 1.5rem;
}

.containerButtons select {
    width: 5rem;
    padding: 5px;
    border-radius: 5px;
}

button {
    width: 5rem;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;   
}

.containerButtons.noActive {
    display: none;
}